body {  
    background-image: url(../images/sailing6.jpeg);
    background-repeat:no-repeat;
    height:auto;
    width:auto;
    vertical-align: middle;
    background-size:cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size:cover;
    min-width:1024px;
}


#p {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 1.8em;
    margin-left: 0%;
}

#main-menu{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#main-menu ul {
  font-size:1.5em;
  padding:0.5em ;
  text-align: center;
  list-style-type: none;
  margin-left:8em;
  overflow: hidden;
  background-color:transparent;
}

#main-menu li {
  float: left;
  padding:0.5em 0.8em;
}

#main-menu  li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#main-menu li.dropdown {
  display: inline-block;
}

#main-menu .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#main-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#main-menu .dropdown-content a:hover {background-color: rgb(27, 91, 133);color:white;}

#main-menu .dropdown:hover .dropdown-content {
  display: block;
}

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin:auto;
    margin-top: 5%;
    margin-left: 29%;
  }
  
  .mySlides {
    display: none;
  }

  .mySlides img{
    border-radius: 5%;
  }
 
  .text {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    top:61%;
    left: -21%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
#dotposition{
    margin-left: 45%;
}

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgb(219, 215, 215);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
  }
  
  .active, .dot:hover {
    background-color: rgb(27, 91, 133);
  }
  

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.7} 
    to {opacity: 1}
  }
  
  .button {
    font-size: 15px;
    margin-left:1%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
  }
  
  .button:hover {background-color:rgb(27, 91, 133);color:white;}
  
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#bottom-menu{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:1.0em;
    background-color: black;

}

#bottom-menu{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:1.0em;
    background-color: black;

}

#bottom-menu ul {
    position:fixed;
    bottom: 0;
    width: 100%;
  }

#bottom-menu li {
    list-style:none;
    padding:0.1em 0.8em;
}

#bottom-menu a{
    text-decoration: none;
    color:grey;
}

#bottom-menu a:link{
    text-decoration: none;
    color:grey;
}

#bottom-menu a:hover{
    text-decoration: none;
    color:white;
}

#bottom-menu .bottom-menu-firstline{
    color:white;
}

